.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(150, 34, 34);
}

.note
{
    font-size: 15px;
    color: rgb(84, 70, 70);
}

.copy_right_footer
{
    position: fixed;
    color: aqua;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    background-color: rgb(140, 0, 255);
    line-height: 3;
    text-align: center;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-top: -50px;
    margin-left: 50px;
}